{% extends "layout.twig" %}
{% block class %}template-default{% endblock %}
{% block content %}

<div class="template-title-wrap">
    {{widget('pagetitle', 'title', {})|raw}}
    
    {{widget('image', 'footerimage', {
      'src': asset("/images/ampersand-bg.jpg")
    })|raw}}
</div>

<div class="canvas">
    <!-- Main Widet Zone -->
    {{zone('main')|raw}}
</div>

{% endblock %}
