{% extends "layout.twig" %}
{% block class %}template-default{% endblock %}
{% block content %}

<div class="template-title-wrap">
    <div class="template-title">
        <h1>
            <span>{{ page.title }}</span>
        </h1>
    </div>
</div>

<div class="canvas">
    <!-- Main Widet Zone -->
    {{zone('main')|raw}}
</div>

{% endblock %}
