{% extends "layout.twig" %}
{% block class %}theme-default{% endblock %}
{% block content %}

<div class="page-title">
    <div class="page-title__container">
        <h1>
            <span>{{ page.title }}</span>
        </h1>
    </div>
</div>

<div class="canvas">
    <!-- Main Widet Zone -->
    {{zone('main')|raw}}
</div>

{% endblock %}
