// --------------------------------
// BaseKit Baseplate Template (v1.0)
// --------------------------------

// .in-tdk #page-zones__main-widgets__ContentWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ContactFormWidget {display: none;}
// .in-tdk #page-zones__main-widgets__TwitterWidget {display: none;}
// .in-tdk #page-zones__main-widgets__buttonWidget {display: none;}
// .in-tdk #page-zones__main-widgets__socialiconsWidget {display: none;}
// .in-tdk #page-zones__main-widgets__youtubeWidget {display: none;}
// .in-tdk #page-zones__main-widgets__LineWidget {display: none;}
// .in-tdk #page-zones__main-widgets__MapWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget1 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget2 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget3 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget4 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget5 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget6 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget7 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget8 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget9 {display: none;}
// .in-tdk #page-zones__main-widgets__ProfileWidget10 {display: none;}
// .in-tdk #page-zones__main-widgets__ImageWidget {display: none;}
// .in-tdk #page-zones__main-widgets__paypalbuynowWidget {display: none;}
// .in-tdk #page-zones__main-widgets__tweetWidget {display: none;}
// .in-tdk #page-zones__main-widgets__dropboxWidget {display: none;}
// .in-tdk #page-zones__main-widgets__clicktocallWidget {display: none;}
// .in-tdk #page-zones__main-widgets__galleryWidget {display: none;}
// .in-tdk #page-zones__main-widgets__responsiveslideshowWidget {display: none;}
// .in-tdk #page-zones__main-widgets__signupformWidget {display: none;}
// .in-tdk #page-zones__main-widgets__blogpostlistWidget {display: none;}
// .in-tdk #page-zones__main-widgets__blogpostWidget {display: none;}
// .in-tdk #page-zones__main-widgets__blogsearchWidget {display: none;}
// .in-tdk #page-zones__main-widgets__menusectionsWidget {display: none;}
// .in-tdk #page-zones__main-widgets__menuWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecomproductslistWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecomproductWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecombasketWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecombasketsummaryWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecomcategorieslistWidget {display: none;}
// .in-tdk #page-zones__main-widgets__ecomfeaturedproductsWidget {display: none;}
// .in-tdk #page-zones__main-widgets__soundcloudWidget {display: none;}
// .in-tdk #page-zones__main-widgets__facebookCommentsWidget {display: none;}
// .in-tdk #page-zones__main-widgets__donationWidget {display: none;}
// .in-tdk #page-zones__main-widgets__YelpreviewWidget {display: none;}


// -----------------------------
// #Table of Contents
// -----------------------------

// 1. #LESS INCLUDES
// 2. #PAGE SETTINGS
// 3. #TEMPLATE STYLES




// -----------------------------
// 1. #LESS Includes
// -----------------------------

@import "@{templateCommon}/bk-less-framework.less"; // BaseKit LESS Framework

// ** BaseKit LESS Framework is a set of non obtrusive LESS files that can be pulled into
//    your template to guarentee widgets come to life. Proivides default styles for all widgets.

// Template Includes
@import "@{templateLocal}/less/theme.less"; // Theme
@import "@{templateLocal}/less/widgets.less"; // Widgets

// Plugin Includes
@import "@{templateLocal}/less/plugins/plugin-blog.less"; // Plugin: Blog CSS
@import "@{templateLocal}/less/plugins/plugin-menu.less"; // Plugin: Menu CSS
@import "@{templateLocal}/less/plugins/plugin-ecommerce.less"; // Plugin: Ecommerce CSS




// -----------------------------
// 2. #Page Settings **
// -----------------------------

// ** Styles for advanced Baseplate template - remove when developing a custom template

// Page Container
// --------------

.container {
    background-image: image('/images/ampersand-bg.jpg');
    background-position: top center;
    background-size: contain;
}




// -----------------------------
// 3. #Template Styles
// -----------------------------


