<div class="theme-footer">
    <div class="theme-footer__container">
        {{widget('logo', 'logo-footer', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('content', 'content-footer', {content: 'This is a content widget.', lines: 'all'})|raw}}
    </div>
</div>
