<div class="template-footer">
    <div class="template-footer__container">
        {{widget('logo', 'logo-footer', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('content', 'content-footer', {content: 'Lorem Ipsum Dolor Sit Amet.', lines: 'all'})|raw}}
    </div>
</div>
